.cover-image {
  position: relative;
}

.cover-text {
  position: absolute;
  top: 3%;
  left: 0;
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit:fill;
  }

  .education-item {
    flex-direction: row;
  }
  .education-item img {
    width: 22%;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media only screen and (max-width: 992px) {
    .education-item img {
      display: none;
    }
  }