{% extends 'base.html' %}
{% block content %}
<main class="flex-shrink-0">
  <div class="container">
    <h1>Matt Obradovic</h1>
    <p>
      In my 2 years in software development, I have experienced the challenges of working at a startup and collaborated with large teams at a 70,000-employee enterprise.
    </p>
    <p>
      Currently, I work on John Deere's automated steering team, where I have a reputation for writing clean, well-documented code, clearly communicating with collaborators around the world, and asking lots of questions.
    </p>
    <p>
      Previously, I built advanced prosthetic hands at Psyonic, I developed autonomous vehicle simulations at Illinois' AUVSL, and I promoted diversity & inclusion in STEM as vice president of the Illinois State Physics Club.
    </p>
    <p>
      I take pride in my work and I want to maximize my social impact through my career. I'm especially interested improving the live of farm animals, preventing pandemics, dismantling nuclear weapons, and promoting economic growth the world's poorest countries.
    </p>
    <p>
      If you have a project I can help with, please get in touch.
    </p>
  </div>
</main>

{% endblock %}