{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>Demo</h1>
  <p>
    This is a website I created using Flask, Twilio, and the Spotify API. It enables users to create Spotify playlists that can have songs added to them by sending text messages to a group chat.
    <a href="https://spotify-text-message-playlists.herokuapp.com/demo/" target="_blank" rel="noopener">Check it out.</a>
  </p>
  <div class="container">
    <div class="row w-100 ratio ratio-16x9">
      <div class="embed-responsive embed-responsive-16by9 ratio ratio-16x9">
        <iframe class="embed-responsive-item border border-secondary border-2 rounded-2" src="https://www.youtube.com/embed/RR4aPQHYixA" allowfullscreen></iframe>
      </div> 
    </div>
  </div>

</div>
<div class="container mt-3">
  <h1>About</h1>
  <div class="row d-block d-lg-none mb-4 text-center">
    <img class="rounded-circle" alt="" src="/static/profile-picture.jpeg" style="height: 200px; width: 200px">
  </div>
  <div class="row ">
    <div class="col">
      <p>In my 2 years in software development, I have experienced the challenges of working at a startup and collaborated with large teams at a 70,000-employee enterprise.</p>
      <p>Currently, I work on John Deere's automated steering team, where I take pride in for writing clean, well-documented code, clearly communicating with collaborators around the world, and asking lots of questions.</p>
      <p>Previously, I built advanced prosthetic hands at Psyonic; I developed autonomous vehicle simulations at Illinois' Autonomous and Unmanned Vehicle Systems Laboratory; and I promoted diversity & inclusion in STEM as vice president of the Illinois State Physics Club.</p>
      <p>I take pride in my work and I want to maximize my social impact through my career. I'm especially interested improving the lives of farm animals, preventing pandemics, dismantling nuclear weapons, and promoting economic growth in the world's poorest countries. </p>
      <p>If you have a project I can help with, please get in touch.</p>
    </div>
    <div class="col-4 d-none d-lg-block">
      <img class="img-fluid rounded-circle w-100" alt="100x100" src="/static/profile-picture.jpeg" data-holder-rendered="true">
    </div>
  </div>
  <a href="/resume">Resume</a>, 
  <a href="/portfolio">Portfolio</a>
</div>
<div class="container mt-2">
  <h1>Contact</h1>
  <div class="row mt-2">
    <p><strong class="h5">Email:</strong> mcobradovic@gmail.com</p>
    <p><strong class="h5">Phone:</strong> +1 (708) 420-7758</p>
    <p><strong class="h5">Address:</strong> 15827 Aster Dr, Lockport IL 60441</p>
  </div>
</div>
{% endblock %}