{% extends 'base.html' %}
{% block styles %}
{{ bootstrap.load_css() }}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid py-5" id="jeopardyContainer">
  <h1 class="display-5 fw-bold">JavaScript Jeopary</h1>
  <p class="col-md-8 fs-4">I built this interactive Jeopardy game in JavaScript to demonstrate DOM Manipulation with jQuery and asynchronous API requests.</p>
  <p class="col-md-8 fs-4">Click on a "?" to show a clue, then click again the see the answer.</p>
  <div id="gameContainer" class="container"></div>
</div>

{% endblock %}

{% block scripts %}
{{ bootstrap.load_js() }}

<script src="https://unpkg.com/jquery"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="https://unpkg.com/lodash"></script>
<script src="{{ url_for('static', filename='assets/js/jeopardy.js') }}"></script>
{% endblock %}