{% extends 'base.html' %}
{% block content %}
<section class="resume">
  <div class="container">
    <div class="section-title">
      <h1 class="display-5 fw-bold">Portfolio</h1>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-4">
      <div class="col">
        <div class="card h-100 resume-item">
          <img src="/static/TwilioandSpotify.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="https://spotify-text-message-playlists.herokuapp.com/demo/" target="_blank" rel="noopener"><h4>Spotify text message Playlists</h4></a>
            <a href="https://github.com/mattobrado/spotify-text-message-playlists" target="_blank" rel="noopener"><em>Source Code</em></a>
            <ul>
              <li>Created website using Flask, WTForms, Twilio, and the Spotify API that enables users to create Spotify playlists that can have songs added to them by sending text messages to a group chat</li>
              <li>Stored user, playlist and, song information in a PostgreSQL database using SQLAlchemy</li>
              <li>Wrote unit tests for all endpoints using Python unittest</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 resume-item">
          <img src="/static/jeopardy.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="/jeopardy"><h4>JavaScript Jeopary</h4></a>
            <a href="https://github.com/mattobrado/personal-website" target="_blank" rel="noopener"><em>Source Code</em></a>
            <ul>
              <li>Built an interactive Jeopardy game in JavaScript to demonstrate DOM Manipulation with jQuery, and asynchronous API requests to retrieve questions from the jService API</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}