{% extends 'base.html' %}
{% block content %}
<section class="resume">
  <div class="container">
    <div class="section-title">
      <h1 class="display-5 fw-bold">Resume</h1>
    </div>
  </div>
  <div class="container">
    <h3 class="resume-section-title">Education</h3>
    <div class="card resume-item education-item">
      <div class="card-body">
        <h4>University of Illinois at Urbana-Champaign</h4>
        <h5 class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary bg-primary bg-opacity-10 border border-primary border-opacity-10 rounded-2">GPA: 3.65/4.0</h5>
        <p><em>Bachelor of Science in Systems Engineering & Design, May 2021</em></p>
        <p>Relevant Coursework: Data Structures, Autonomous Vehicles, Mechatronics</p>
      </div>
      <img src="/static/uiuc-logo.jpg" class="card-img" alt="...">
    </div>
  </div>
  <div class="container">
    <h3 class="resume-section-title">Experience</h3>
    <div class="row row-cols-1 row-cols-lg-2 g-4">
      <div class="col">
        <div class="card h-100 resume-item">
          <img src="/static/autotrac.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h4>Software Developer</h4>
            <h5 class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary bg-primary bg-opacity-10 border border-primary border-opacity-10 rounded-2">October 2021 - Present</h5>
            <p><em>John Deere, Automated Steering</em></p>
            <ul>
              <li>Decreased error in trajectory estimation for combine harvesters by 80% by independently finding the root cause of inaccuracy and developing a solution, unblocking stalled progress on autonomous harvesters</li>
              <li>Designed differential-steer version of the steering algorithm in Matlab, utilizing the zero-turn radius of sugarcane harvesters and saving farmers money by reducing damage to crops</li>
              <li>Delivered an automated steering implementation for the latest model of combine harvesters by creating a dynamic model of a machine in Matlab and using it to tune a full-state feedback controller in simulation</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 resume-item">
          <img src="/static/bulldozer.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4>Software Development Intern</h4>
            <h5 class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary bg-primary bg-opacity-10 border border-primary border-opacity-10 rounded-2">June 2021 - August 2021</h5>
            <p><em>John Deere, Bulldozers</em></p>
            <ul>
              <li>Increased efficiency of bulldozers' cooling fans by 14% by creating a thermodynamic model in Matlab and leveraging it to design and tune a feedback controller, reducing emissions and increasing pushing power</li>
              <li>Improved modularity and maintainability of bulldozers' transmission software by refactoring components into a modern architecture while ensuring all unit tests were re-written and passing</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 resume-item">
          <img src="/static/ability-hand.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4>Robotics Intern</h4>
            <h5 class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary bg-primary bg-opacity-10 border border-primary border-opacity-10 rounded-2">August 2020 - May 2021</h5>
            <p><em>Psyonic, Advanced Prosthetic Hands</em></p>
            <ul>
              <li>Solved a critical product issue that would have halted production by designing an experiment to test alternative production methods and creating clear written instructions for manufacturers to implement a solution</li>
              <li>Created a tool using Python, Tkinter, and Matplotlib for retrieving and visualizing data from bionic hands that was used daily for debugging and logging purposes</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 resume-item">
          <img src="/static/loader-open-hood.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4>Embedded Software Engineering Intern</h4>
            <h5 class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary bg-primary bg-opacity-10 border border-primary border-opacity-10 rounded-2">June 2020 - August 2020</h5>
            <p><em>John Deere, Wheel Loaders</em></p>
            <ul>
              <li>Owned and delivered a new feature to control motorized engine hoods that prevent injuries on large wheel loaders by establishing software requirements, developing C code and creating robust documentation</li>
              <li>Wrote extensive unit tests in Visual Studio achieving 100% code coverage and ensuring the feature was as safe as possible</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class=" card h-100 resume-item">
          <img src="/static/obstacle-arena.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h4>Research Engineer</h4>
            <h5 class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary bg-primary bg-opacity-10 border border-primary border-opacity-10 rounded-2">September 2019 - May 2020</h5>
            <p><em>Autonomous and Unmanned Systems Laboratory</em></p>
            <ul>
              <li>Led a team of 4 to conduct detailed testing and system identification of autonomous vehicles using motion capture cameras</li>
              <li>Decreased position inaccuracy for a simulated autonomous vehicle by 30%, enabling neural network-based controllers to be trained in simulation</li>
              <li>Developed perception-based autonomous algorithms such as lane following and obstacle avoidance for a variety of vehicles using ROS and C++</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}