{% extends 'base.html' %}
{% block content %}
<section class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>This is my resume</p>
    </div>

    <div class="row">
      <div class ="col-lg-6">

        <h3 class="resume-section-title">Education</h3>
        <div class="resume-item">
          <h4>University of Illinois at Urbana-Champaign</h4>
          <h5>May 2021</h5>
          <p><em>Bachelor of Science in Systems Engineering & Design</em></p>
          <ul>
            <li>GPA: 3.65/4.0</li>
            <li>Relevant Coursework: Data Structures, Autonomous Vehicles, Mechatronics</li>
          </ul>
        </div>

        <h3 class="resume-section-title">Projects</h3>
        
      </div>
      <div class ="col-lg-6">
        <h3 class="resume-section-title">Experience</h3>
      </div>
    </div>
  </div>
</section>
{% endblock %}